<footer class="footer">
    <div class="container-links">
        <a href="https://github.com/matheusz-nied" class="github" uk-icon="icon: github; ratio: 1.3"></a>
        <a href="https://www.linkedin.com/in/matheus-fernandes-da-silva-5810201b6/" class="linkedin" uk-icon="icon: linkedin; ratio: 1.3"></a>
        <a href="https://www.instagram.com/matheusz.nied/" class="instagram" uk-icon="icon: instagram; ratio: 1.3"></a>
        <a href="https://twitter.com/matheusz_nied" class="twitter" uk-icon="icon: twitter; ratio: 1.3"></a>
        <!-- <a href="" class="uk-icon-button" uk-icon="youtube"></a> -->



    </div>
    <p class="text-footer">© Matheusz Nied</p>
</footer>

