{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Ubuntu+Mono&family=Ubuntu:wght@300&display=swap"
        rel="stylesheet">
    <!-- Styles UiKit -->
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" />
    <script src="{% static 'js/uikit.min.js'%}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/js/uikit-icons.min.js"></script>

    <!-- My Styles -->
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/index.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/home.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/about.css' %}" />



    <title>Nied Notas</title>
</head>

<body>
    {% block content %}
    {% endblock %}
</body>

</html>